.block {
  position: relative;
  background-color: green;
  text-align: center;
  width: calc(10% - 2px);
  box-sizing: border-box;
  margin: 1px;
}

.block.selected {
  background-color: red;
}

.block.green {
  background-color: green;
}


.block.red {
  background-color: red;
}

.block.grey {
  background-color: gray;
}

.block:before {
  content: "";
  display: block;
  padding-top: 100%;
}
